<!doctype html>
<html lang="zh-cn" ng-app="sf.mainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo</title>
    <link rel="stylesheet" href="bower_components/bootstrap-3.2.0-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/app.css"/>
</head>
<body ng-controller="MainCtrl">

    <!-- menu -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" style="margin-bottom:0px;"
         ng-include src="'app/views/infra/menu_view.html'">

    </nav>

    <!-- side menu -->
    <section id="sideNav">
        <ul class="nav">
            <li ng-repeat="menu in menus" ng-class="{'active':$state.includes(menu.name),'has-submenu':menu.children && menu.children.length>0}">
                <a ng-click="onMenuClick(menu)">
                    <span class="glyphicon {{menu.clazz}}"></span> {{menu.label}}
                    <span class="glyphicon pull-right sub-expender glyphicon-chevron-down" ng-show="menu.open"></span>
                    <span class="glyphicon pull-right sub-expender glyphicon-chevron-right" ng-hide="menu.open"></span>
                </a>
                <ul class="sub-nav" ng-show="menu.open">
                    <li ng-repeat="submenu in menu.children" ng-class="{'active':$state.includes(submenu.name)}">
                        <a ng-click="onMenuClick(submenu)">{{submenu.label}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

    <!-- Main -->
    <div id="mainContianer">
        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default" style="border-left:none;border-right:none;border-bottom:1px solid #eee;">
                    <div class="panel-body" style="padding:8px 15px;">
                        <div class="row">

                            <ol class="breadcrumb col-xs-5" style="margin:0px;background-color: transparent;">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Library</a></li>
                                <li class="active">我的项目</li>
                            </ol>

                            <div class="col-xs-7">
                                <ul class="toolbar">
                                    <li><a class="btn btn-danger">新建项目</a></li>
                                    <li><a class="btn btn-default">删除项目</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ui-view=""></div>
        </div>

        <!-- footer -->

        <footer>
            <p>&copy; Company 2014</p>
        </footer>
    </div>




</body>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/jquery-1.11.1.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--script src="bower_components/angular-route/angular-route.js"></script>-->
<script src="bower_components/angular-ui/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="app/js/app.js"></script>
<script src="app/js/common/config.js"></script>

<!-- Common Service -->
<script src="app/js/infra/menu_service.js"></script>

<!-- Bussiness Ctrls & routers & services -->
<script src="app/js/test/helloWorld_router.js"></script>
<script src="app/js/test/helloWorld_ctrl.js"></script>
<script src="app/js/test/test_ctrl.js"></script>

<script src="app/js/projects/projects_router.js"></script>
<script src="app/js/projects/projects_ctrl.js"></script>

<script src="app/js/projects/project_router.js"></script>
<script src="app/js/projects/project_ctrl.js"></script>

<script src="app/js/tasks/tasks_router.js"></script>
<script src="app/js/tasks/tasks_ctrl.js"></script>

<!-- load in the end -->
<script src="app/js/common/routers.js"></script>
<script src="app/js/infra/main_ctrl.js"></script>

</html>
