<!doctype html>
<html lang="zh-cn" ng-app="sf.mainApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo</title>
    <link rel="stylesheet" href="bower_components/bootstrap-3.2.0-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/css/app.css"/>
</head>
<body ng-controller="MainCtrl">

    <!-- menu -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Todo</a>
            </div>

            <div class="collapse navbar-collapse">

                <!-- Menu -->
                <ul class="nav navbar-nav">
                    <li ng-repeat="menu in menus" ng-class="{'dropdown':menu.children && menu.children.length>0,'open':menu.open, 'active':$state.includes(menu.name)}">
                        <a ui-sref="{{menu.name}}" ng-show="!menu.children || menu.children.length == 0">
                            {{menu.label}}
                        </a>
                        <a ng-show="menu.children && menu.children.length > 0">
                            {{menu.label}}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="item in menu.children">
                                <a ui-sref="{{item.name}}">{{item.label}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="home.html">Home</a>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="form" autocomplete="off">
                    <div class="wrap-icon-input">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" name="username" class="form-control input-sm" placeholder="用户名">
                    </div>
                    <div class="wrap-icon-input">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input type="login" name="password" class="form-control input-sm" placeholder="密码">
                    </div>
                    <a type="submit" class="btn btn-primary btn-sm">登录</a>
                    <a type="button" href="logup.html" class="btn btn-default btn-sm">注册</a>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>

    <!-- Main -->
    <div ui-view>


    </div>

    <!-- footer -->
    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>


</body>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/jquery-1.11.1.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--script src="bower_components/angular-route/angular-route.js"></script>-->
<script src="bower_components/angular-ui/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="app/js/app.js"></script>
<script src="app/js/common/config.js"></script>

<!-- Common Service -->
<script src="app/js/infra/menu_service.js"></script>

<!-- Bussiness Ctrls & routers & services -->
<script src="app/js/test/helloWorld_router.js"></script>
<script src="app/js/test/helloWorld_ctrl.js"></script>
<script src="app/js/test/test_ctrl.js"></script>

<!-- load in the end -->
<script src="app/js/common/routers.js"></script>
<script src="app/js/infra/main_ctrl.js"></script>

</html>
