/* app css stylesheet */

html,body {
    font-family: Arial, Microsoft YaHei;
}

a:focus{
    outline: none;
}

#mainContianer{
    margin-top: 51px;
}

.wrap-icon-input{
    display: inline-block;
    color: #ccc;
}

.wrap-icon-input > .glyphicon{
    position: absolute;
    margin-top: 15px;
    margin-left: 8px;
}

.wrap-icon-input input{
    padding-left: 26px;
}

.brands{
    list-style: none;
}

.brands > li{
    display: inline-block;
    margin-right: 4px;
}

.brands > li:last-child{
    margin-right: 0px;
}