<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a>第一个项目 ...</a>
                <a class="pull-right">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
            <table class="table ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>任务名</th>
                        <th>创建人</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a>第一个任务</a></td>
                        <td>张三</td>
                        <td>2014-01-02</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a>第二个任务</a></td>
                        <td>张三</td>
                        <td>2014-01-02</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a>第二个项目 ...</a>
                <a class="pull-right">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </div>
            <table class="table ">
                <thead>
                <tr>
                    <th>#</th>
                    <th>任务名</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a>第一个任务</a></td>
                    <td>张三</td>
                    <td>2014-01-02</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a>第二个任务</a></td>
                    <td>张三</td>
                    <td>2014-01-02</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>