
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <small style="margin-right:8px;">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </small>项目名<br>
                            <small>创建于: 2013-12-09</small>
                        </h4>
                        <hr  style="margin:12px 0px;">
                        <ul class="list-unstyled task-statistic-blocks-container">
                            <li class="task-statistic-blocks">
                                <a class="text-warning">
                                    <strong>1</strong><br>
                                    <span class="text-muted">待完成任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks text-danger">
                                <a class="text-danger">
                                    <strong>1</strong><br>
                                    <span class="text-muted">过期任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks">
                                <a class="text-muted">
                                    <strong>1</strong><br>
                                    <span class="text-muted">已完成任务</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <small style="margin-right:8px;">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </small>项目名<br>
                            <small>创建于: 2013-12-09</small>
                        </h4>
                        <hr  style="margin:12px 0px;">
                        <ul class="list-unstyled task-statistic-blocks-container">
                            <li class="task-statistic-blocks">
                                <a class="text-warning">
                                    <strong>1</strong><br>
                                    <span class="text-muted">待完成任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks text-danger">
                                <a class="text-danger">
                                    <strong>1</strong><br>
                                    <span class="text-muted">过期任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks">
                                <a class="text-muted">
                                    <strong>1</strong><br>
                                    <span class="text-muted">已完成任务</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            <small style="margin-right:8px;">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </small>项目名<br>
                            <small>创建于: 2013-12-09</small>
                        </h4>
                        <hr  style="margin:12px 0px;">
                        <ul class="list-unstyled task-statistic-blocks-container">
                            <li class="task-statistic-blocks">
                                <a class="text-warning">
                                    <strong>1</strong><br>
                                    <span class="text-muted">待完成任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks text-danger">
                                <a class="text-danger">
                                    <strong>1</strong><br>
                                    <span class="text-muted">过期任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks">
                                <a class="text-muted">
                                    <strong>1</strong><br>
                                    <span class="text-muted">已完成任务</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
