
<div class="span2">
    搜索项目：<input ng-model="query">
    排序方式：
    <select ng-model="orderProp">
        <option value="projname">Alphabetical</option>
        <option value="createtime">Newest</option>
    </select>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6" ng-repeat="project in projects | filter:query | orderBy:orderProp">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 style="margin-top:0px;">
                            <div style="float: right;">
                                <a style="font-size:12px;" title="编辑项目名">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                            </div>
                            <small style="margin-right:8px;">
                                <span class="glyphicon glyphicon-folder-open"></span>
                            </small><span ng-bind="project.projname"></span><br>
                            <small>创建于:<span ng-bind="project.createtime"></span></small>
                        </h4>
                        <hr  style="margin:12px 0px;">
                        <ul class="list-unstyled task-statistic-blocks-container">
                            <li class="task-statistic-blocks">
                                <a class="text-warning">
                                    <strong>1</strong><br>
                                    <span class="text-muted">待完成任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks text-danger">
                                <a class="text-danger">
                                    <strong>1</strong><br>
                                    <span class="text-muted">过期任务</span>
                                </a>
                            </li>
                            <li class="task-statistic-blocks">
                                <a class="text-muted">
                                    <strong>1</strong><br>
                                    <span class="text-muted">已完成任务</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
