<div class="row">
    <div class="col-xs-12">
        <h4 style="margin-top:0px;">
            <small style="margin-right:8px;">
                <span class="glyphicon glyphicon-folder-open"></span>
            </small>{{project1.projname}}<br>
            <small>创建于:<span>{{project1.createtime}}</span></small>
        </h4>
    </div>

</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">要做的</div>
            <div class="list-group" ng-repeat="task in project1.tasks">
                <a href="#" class="list-group-item">{{task.taskname}}</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">在做的</div>
            <div class="list-group" ng-repeat="task in project1.tasks">
                <a href="#" class="list-group-item">{{task.taskname}}</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">完成的</div>
            <div class="list-group" ng-repeat="task in project1.tasks">
                <a href="#" class="list-group-item">{{task.taskname}}</a>
            </div>
        </div>
    </div>
</div>